header {
    background-color: #111;
    display: flex;
    flex-direction: column;
}

.header-left {
    display: flex;

}

header h1 {
    text-align: center;
    color: #eee;
    display:inline-block;
    margin:0.5em auto;
}

nav {
    background-color: rgb(128, 25, 25);
    padding-top: 20px;


}

nav a {
    margin-left: 10px;
    color: #eee;
    text-decoration: none;

}

a:hover{
    background-color: #111;
}